$spacing-01: 2px;
$spacing-02: 4px;
$spacing-03: 8px;
$spacing-04: 12px;
$spacing-05: 16px;
$spacing-06: 24px;
$spacing-07: 32px;
$spacing-08: 40px;

$bg-primary: #eeeeee;
$bg-seconday: #dadada;

$text-primary: #272634;
$text-seconday: #37394b;

$color-primary: #8a2eff;
$color-primary: #9cc2fa;

$gradient-primary: linear-gradient(45deg, var($color-primary), var($color-primary));
