@tailwind base;
@tailwind components;
@tailwind utilities;

$spacing-01: 2px;
$spacing-02: 4px;
$spacing-03: 8px;
$spacing-04: 12px;
$spacing-05: 16px;
$spacing-06: 24px;
$spacing-07: 32px;
$spacing-08: 40px;

$bg-primary: #eeeeee;
$bg-secondary: #dadada;

$text-primary: #272634;
$text-secondary: #37394b;

$text-placeholder: #969699;

$color-01: #5433ff;
$color-02: #4379ff;
$color-03: #97fbd1;
$color-04: #f6a4ec;
