@import './tw.scss';

$spacing-01: 2px;
$spacing-02: 4px;
$spacing-03: 8px;
$spacing-04: 12px;
$spacing-05: 16px;
$spacing-06: 24px;
$spacing-07: 32px;
$spacing-08: 40px;

$bg-primary: #eeeeee;
$bg-secondary: #dadada;

$text-primary: #272634;
$text-secondary: #37394b;

$text-placeholder: #969699;

$color-01: #6c4ab6;
$color-02: #8d72e1;
$color-03: #8d9eff;
$color-04: #b9e0ff;

$grey-40: #a2a9b0;
$grey-30: #c1c7cd;
$grey-20: #dde1e6;

$screen-md: 1050px;
